<div class="container">
    <div class="row">
        <div class="col-md-12 bg-theme-secondary p-5 shadow-effect">
            <h3 class="text-center text-primary-theme"> New Categories</h3>
            <p class="text-center mb-5"> Add a new category</p>

            <form class="form-row text-center" #categoryForm='ngForm' (ngSubmit)="onSubmit(categoryForm)">

                <div class="row g-3">

                    <div class="form-group col-md-10">
                        <input type="text" name="category" class="form-control shadow-effect"
                            placeholder="Add New Categories" #newCategory='ngModel' ngModel required
                            [ngClass]="{'is.invalid':newCategory.invalid && newCategory.touched}">
                        <div class="alert alert-danger " *ngIf="newCategory.invalid && newCategory.touched">
                            Category field is required
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-block btn-info btn-sub mb-2" [disabled]="categoryForm.invalid">Add Category</button>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>